*~
callgrind.out.*
sim
/output
/build
/lasercake
/Lasercake
/lasercake-*
/Lasercake-*
.*.swp
.*.kate-swp
/.kdev4/
/zzzuncommitted
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
fonts.qrc.depends
moc_main.cxx
qrc_fonts.cxx
/time_steward_under_construction/green_caves_game/green_caves.js*
/time_steward_under_construction/green_caves_game/benchmarks
